/* CSS Escritorio */

*{
            
    margin: 0;
    padding: 0;
    background-color: rgb(207, 207, 207);
}

/* Menu */

.Container-Icon > p , .Container-Icon > i {
    
    display: none;
}


.nav_ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 25px;
    font-size: 23px;
    border-radius: 50px;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    margin-bottom: 60px;
}


.nav_ul, li  a:visited , a:link {

    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
    background-color: rgba(171, 171, 171, 0.708);
    font-weight: bolder;
    font-family: "Josefin Sans";   
}

.nav_ul a:hover{

    color: rgba(255, 234, 0, 0.839);

}


.nav_ul li:first-child{

    font-size: 35px;
    margin-left: -30px;
    font-weight: bolder; 
    
}


/* Perfil */

.Container-profile{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(171, 171, 171, 0.708);
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    border-radius: 50px;
    margin: 25px;
      
}


.Container-profile .perfil {
    
    border-radius: 100px;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    margin: auto;
    margin-top: 30px;

}

.Container-profile .titulo{

   margin-top: 40px;
   font-size: 45px;
   background: none;
   margin-bottom: 80px;
}


.Container-Titulo{

    background: none; 
    
}

.Container-Titulo > a {

    font-size: 35px;
    font-family: "Josefin Sans";
    border-radius: 25px;
    background-color: rgba(135, 135, 135,.8);
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    padding: 25px;
    margin: auto 30px;
    
}

.Container-Titulo > a:hover {

    color: rgba(255, 234, 0, 0.839);
}


.Container-Titulo > a:link , a:visited {

    color: rgb(0, 0, 0);

}

.Container-profile > p {

    text-align: justify;
    font-size: 40px;
    padding: 40px;
    font-family: "Crimson Text";
    background: none;
    
}

.Container-profile > p::first-letter {

    font-size: 75px;
    font-weight: bolder;

}

/* Subtitulos */

h3{

    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    font-family: "Cinzel";
    font-style: italic;
    text-decoration: underline double;
    margin: 30px;
      
}

/* conocimientos informaticos */

.LG , .BD , .TN {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.LG , .BD, .TN > ul {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   

}

.LG > li, .BD > li , .TN > li {

    list-style-type: none;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline wavy;
    margin-top: 15px;
    margin-bottom: 15px;
}

.LG > ul li, .BD > ul li , .TN > ul li {

    display: inline-flex;
    font-size: 30px;
    padding: 25px;
    align-items: center;
    font-weight: bolder;
}

/* Formacion academica */

.FA-Container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 30px;
    
}

.FA-Container li{ 

    list-style-type: none;
    font-size: 30px;
    font-weight: bolder;
    
    
}

.FECHAS > li{

    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto 20px;

}


/* Experiencia laboral */

.EL-Container{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.EL-Container > li {

    list-style-type: none;
    font-size: 30px;
    text-align: justify;
    font-weight: bolder;
    margin: auto;
    padding: 20px;
}

/* Idioma*/

.Leng {

    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
    padding: 20px;

}

/* Disponibilidad */

.Time-Work{

    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
    padding: 20px;
    
    
}

/* tabla de proyectos */

.table-1 tr{

    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: rgba(171, 171, 171, 0.708);
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    margin: 20px;
    padding: 10px;
    
}


table .NProyecto {

    text-decoration: underline double;
    background: none;

}

table p {

    background: none;
    
}

.table-2 tr{

    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    background-color: rgba(171, 171, 171, 0.708);
    margin: 20px;
    padding: 10px;
}

.table-3 tr{

    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
    background-color: rgba(171, 171, 171, 0.708);
    margin: 20px;
    padding: 10px;
}

.table-1  td , .table-2  td , .table-3 td {
    
    margin: 10px;
    font-size: xx-large;
    background: none;

}

table th {

    font-size: 35px;
    margin: 10px;
    background: none;

}

table a {

    background: none;

}

table a:link, a:visited{

    color: rgba(0, 0, 0, 0.793);

}

/* Descaraga de archivos */

.Container-ul {

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 40px;
    margin: 10px 100px;
  
}

.Download-Cloud{

    display: flex;
    justify-content: space-evenly ;
    font-size: 70px;

}

.Download-Cloud a {

    background: none;
}

.Download-Cloud i:hover{

    font-size: 90px;    

}

/* linea - Footer */

hr{

    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-bottom: 10px;
}

/* Contactos  */


.Container-contactos {

    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.Container-contactos > a {

    font-size: 50px;
    margin-left: 80px;

}

.Container-contactos i:hover {

    font-size: 100px;
}

.Container-contactos > a:link, .Container-contactos > a:visited {

    color: rgb(0, 0, 0);
}


.Footer-container {

    display:flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    
    From {color: red;}
    to { color: rgb(221, 255, 0);}

}

@media only screen and (max-width:1000px){

    /* CSS Mobile */

        *{
            
            margin: 0;
            padding: 0;
        }

        body{
            
            background-color: rgb(207, 207, 207);
        }

        .Container-Icon > i, .nav_ul{

            display: none;
        }

        /* Menu */

        .Container-Icon > p{
            
            display: block;
            font-size: 25px;
            text-align: center;
            margin-bottom: 30px ;
        }

        /* Perfil */

        .Container-profile{

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba(171, 171, 171, 0.708);
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            border-radius: 50px;
            margin: 25px;
              
        }
        
        
        .Container-profile .perfil {
            
            border-radius: 100px;
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            margin: auto;
            margin-top: 30px;
        
        }
        
        .Container-profile .titulo{
        
           margin-top: 40px;
           font-size: 19px;
           background: none;
           margin-bottom: 50px;
        }
        
        
        .Container-Titulo{
        
            background: none; 
            
        }
        
        .Container-Titulo > a {
        
            font-size: 20px;
            font-family: "Josefin Sans";
            border-radius: 24px;
            background-color: rgba(135, 135, 135,.8);
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            padding: 25px;
            

            
        }
        
        /* .Container-Titulo > a:hover {
        
            color: rgba(255, 234, 0, 0.839);
        } */
        
        
        .Container-Titulo > a:link , a:visited {
        
            color: rgb(0, 0, 0);
        
        }
        
        .Container-profile > p {
        
            text-align: justify;
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 15px;
            font-family: "Crimson Text";
            background: none;
            
        }
        
        .Container-profile > p::first-letter {
        
            font-size: 75px;
            font-weight: bolder;
        
        }

        /* conocimientos informaticos */
        
        .LG , .BD, .TN > ul {
        
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        
        }
        
        .LG > li, .BD > li , .TN > li {
        
            list-style-type: none;
            font-size: 19px;
            text-decoration: underline wavy;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .LG > ul li, .BD > ul li , .TN > ul li {
        
            display: inline-flex;
            font-size: 16px;
            padding: 10px;
            text-align: center;       
        }

        /* Formacion academica */
        
        .FA-Container li{ 
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            list-style-type: none;
            font-size: 17px;   ;   
            
        }
        
        .FECHAS > li{
        
            display: inline-flex;
            align-items: center;
            justify-content: space-evenly;
        
        }

        /* Experiencia laboral */

        .EL-Container{
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

        }

        .EL-Container > li {

            list-style-type: none;
            font-size: 18px;
            text-align: center;

        }

        /* Idioma*/

        .Leng {

            display: flex;
            justify-content: space-evenly;
            font-size: 18px;

        }

        /* Disponibilidad */

        .Time-Work{

            display: flex;
            justify-content: space-evenly;
            font-size: 18px;
            
        }

        /* tabla de proyectos */

        .table-1 tr{

            display: flex;
            flex-direction: column;
            border-radius: 50px;
            background-color: rgba(171, 171, 171, 0.708);
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            margin: 20px;
            padding: 10px;
            
        }
        
        
        table .NProyecto {
        
            text-decoration: underline double;
            background: none;
        
        }
        
        table p {
        
            background: none;
            
        }
        
        .table-2 tr{
        
            display: flex;
            flex-direction: column;
            border-radius: 50px;
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            background-color: rgba(171, 171, 171, 0.708);
            margin: 20px;
            padding: 10px;
        }
        
        .table-3 tr{
        
            display: flex;
            flex-direction: column;
            border-radius: 50px;
            box-shadow: 0 0 15px 2px rgb(0, 0, 0),0 0 15px 2px rgb(0, 0, 0);
            background-color: rgba(171, 171, 171, 0.708);
            margin: 20px;
            padding: 10px;
        }
        
        .table-1  td , .table-2  td , .table-3 td {
            
            margin-bottom: 20px;
            font-size: 18px;
            background: none;
        
        }
        
        table th {
        
            font-size: 30px;
            margin: 10px;
            background: none;
        
        }
        
        table a {
        
            background: none;
        
        }
        
        table a:link, a:visited{
        
            color: rgba(0, 0, 0, 0.793);
        
        }


        /* Subtitulos */

        h3{

            display: flex;
            justify-content: space-evenly;
            font-size: 21px;
            font-family: "Cinzel";
            font-style: italic;
            text-decoration: underline double;
            margin-top: 15px;    

        }

        /* Descaraga de archivos */

        .Container-ul {

            display: flex;
            justify-content: space-evenly;
            margin: auto;
            width: 100%;
            list-style-type: none;
            font-size: 20px;

        }
        
        .Download-Cloud{
        
            display: flex;
            justify-content: space-evenly ;
            margin-top: 20px;
            font-size: 50px;
        
        }
        
        .Download-Cloud a {
        
            background: none;
        }
        
       /*  .Download-Cloud > a:hover{
        
            font-size: 90px;    
        
        } */

        /* Linea */

        hr{

            border: 3px solid rgb(0, 0, 0);
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        /* Contactos  */
        
        
        .Container-contactos {
        
            display: inline-flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        
        }
        
        .Container-contactos > a {
        
            font-size: 40px;
            margin-left: 30px;
        
        }
        
        .Container-contactos > a:link, .Container-contactos > a:visited {
        
            color: rgb(0, 0, 0);
        }
        
        .Footer-container {

            display:flex;
            justify-content: space-evenly;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            font-size: 15px;
            padding: 10px;
            margin-bottom: 20px;
            animation-name: flash;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        @keyframes flash {
            
            From {color: red;}
            to { color: rgb(221, 255, 0);}
        
        }
            
   
}