
@media only screen and (max-width:1100px){
    
    /* CSS Mobile */

    *{
        
        margin: 0;         
        padding: 0;
        background-color: rgb(207, 207, 207);

    }

    /* Menu */

    .Container-Icon > p, i {
        
        display: block;
        text-align: center;
        font-size: 1.4em;
    }


    .nav_ul{

        display: none;
    }


    /* Perfil */

    .Container-profile{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(171, 171, 171, 0.708);
        box-shadow: 0 0 .5em 4px rgb(0, 0, 0);
        border-radius: 2em;
        margin: 1.5em;
        
    }

    .Container-ImgLink {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: none;
    
    }

    .Container-ImgLink img {

        border-radius: 2em;
        box-shadow: 0 0 1em 1px rgb(255, 255, 255);
        margin-bottom: 1em;
        margin-top: 1em;

    }

    .Container-a {
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background: none;

    }

    .Container-a  a{
        
        margin: .5em;
        border-radius: 1em;
        background-color: rgb(98, 98, 98);
        box-shadow: .4em 0 .7em .1em rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.5em;
        font-family: "Orbitron";
        font-weight: bolder;
    }

    .Container-Items {
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background:none;
        margin-top: auto;
        
    }

    .Container-Items h4 {

        text-align: center;
        font-size: 1.1em;
        font-family: "Montserrat Subrayada";
        background: none;

    }

    .Container-Items p {

        font-size: 1em;
        text-align: justify;
        font-family: "Black And White Picture";
        padding: 0;
    
    }

    .Container-Items > p::first-letter {

        font-size: 2.5em;
        
    }

    /* Subtitulos */

    h3{

        align-content: center;
        font-size: 1.2em;
        font-style: italic;
        font-family: "Allerta Stencil";
        text-decoration: underline double;
        margin: 1em;
          
    }

    /* Conocimientos informaticos */

    .Container-Conocimientos {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        text-align: center;
        margin-top: 2em;

    }

    .Container-Conocimientos .LG ,.BD, .TN {
        
        align-items: center;
        align-content: center;
        list-style-type: none;
        font-size: 1em;
        font-family: "Aclonica";
        font-style: italic;
        text-decoration: underline wavy;
        margin: 1em;

    }

    .Container-Conocimientos .Items-LG {


        display:flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: .9em;
        font-family: "Aldrich";
            
    }

    .Items-LG > li {

        margin: 1em 1em;
    }

    .Container-Conocimientos .Items-BD {
        
        display:flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: .9em;
        font-family: "Aldrich";

    }

    .Items-BD > li {

        margin: 1em .8em;    
    }

    .Container-Conocimientos .Items-TN {
        
        display:flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: .9em;
        font-family: "Aldrich";

    }

    .Items-TN > li {

        margin: 1em;    
    }


    /* Formacion academica */

    .FA-Container{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        
    }

    .Container-Items li{ 
        
        margin: auto;
        font-size: 1em;
        text-align: center;
        font-family: "Aldrich";
        list-style-type: none;
        
    }

    .FECHAS {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }

    /* Experiencia laboral */

    .EL-Container{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }

    .EL-Items li {

        margin: 1.5em;
        text-align: center;
        list-style-type: none;
        font-size: 1em;
        font-family: "Aldrich";

    }

    /* Idioma*/

    .Container-Leng{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        

    }

    .Leng  li {

        list-style-type: none;
        font-size: 1em;
        font-family: "Aldrich";
        

    }

    /* Disponibilidad */

    .Container-Time{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: auto;

    }

    .Item-Work li{

        list-style-type: none;
        font-size: 1em;
        font-family: "Aldrich";  
        margin-bottom: -1em;  
       
    }

    /* tabla de proyectos */

    .Container-Proyectos {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        
    }

    .table-1 tr{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2em;
        background-color: rgba(171, 171, 171, 0.708);
        box-shadow: .39em 0 .7em .5em rgb(0, 0, 0);
        padding: 1em;
        position: relative;
        
        
    }

    .table-1 th {

        font-size: 2em;
        font-family: "DotGothic16";
        margin-bottom: .25em;

    }

    .table-1 .NProyecto {

        text-decoration: underline double;
        background: none;
        font-family: "Gemunu Libre";
        font-size: 1.5em;
        margin-bottom: 1em;

    }

    .table-1 td ,th{
 
        background: none;

    }

    .table-1 p {

        background: none;
        font-size: 1em;
        font-family: "Geo";
        
    }

    .table-1 a {

        background: none;

    }

    .table-1 p > a:visited, a:link{

        color: rgba(0, 0, 0, 0.793);

    } 

    .table-2 tr{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2em;
        background-color: rgba(171, 171, 171, 0.708);
        box-shadow: .39em 0 .7em .5em rgb(0, 0, 0);
        margin-top: 2em;
        padding: 1em;
        position: relative;
    }

    .table-2 th {

        font-size: 2em;
        font-family: "DotGothic16";
        margin-bottom: .25em;

    }

    .table-2 .NProyecto {

        text-decoration: underline double;
        background: none;
        font-family: "Gemunu Libre";
        font-size: 1.5em;
        margin-bottom: 1em;

    }

    .table-2 td ,th{

        
        background: none;


    }

    .table-2 p {

        background: none;
        font-size: 1em;
        font-family: "Geo";
        
    }

    .table-2 a {

        background: none;

    }

    .table-2 p > a:visited, a:link{

        color: rgba(0, 0, 0, 0.793);

    } 


    .table-3 tr{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2em;
        background-color: rgba(171, 171, 171, 0.708);
        box-shadow: .39em 0 .7em .5em rgb(0, 0, 0);
        margin-top: 2em;
        padding: 1em;
        position: relative;
        
    }

    .table-3 th {

        font-size: 2em;
        font-family: "DotGothic16";
        margin-bottom: .25em;

    }

    .table-3 .NProyecto {

        text-decoration: underline double;
        background: none;
        font-family: "Gemunu Libre";
        font-size: 1.5em;
        margin-bottom: 1em;

    }

    .table-3 td ,th{

        
        background: none;


    }

    .table-3 p {

        background: none;
        font-size: 1em;
        font-family: "Geo";
        
    }

    .table-3 a {

        background: none;

    }

    .table-3 p > a:visited, a:link{

        color: rgba(0, 0, 0, 0.793);

    } 

    /* Descaraga de archivos */

    .Container-Descargas {

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    
    }

    .Container-Idems {

        display: inline-flex;
        margin: .5em;

    }

    .Container-Idems  li {

        list-style-type: none;
        margin: auto 1em;
        font-size: 1em;
        font-family: "Cormorant SC";
        font-weight: bolder;

    }

    .Download-Cloud{

        display: inline-flex;
        align-content: center;
        font-size: .45em;

    }

    .Download-Cloud  i{

        color: rgb(0, 0, 0);
        margin-bottom: .5em;

    }

    .Download-Cloud a {

        background: none;

    }


    /* linea - Footer */

    hr{

        border: 3px solid rgb(0, 0, 0);
        margin: auto;
        margin-bottom: 10px;
    }

    /* Contactos  */


    .Container-contactos {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }

    .Container-contactos > a {

        font-size: 2em;
        margin: auto .5em;
        margin-top: .5em;
        margin-bottom: .5em;

    }


    .Container-contactos > a:link, .Container-contactos > a:visited {

        color: rgb(0, 0, 0);
    }


    .Footer-container {

        display:flex;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 1em;
        padding: 1em;
        animation-name: flash;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes flash {
        
        From {color: red;}
        to { color: rgb(221, 255, 0);}

    }
}