body{
    
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(192, 192, 192);
    
}
.nav .P {
        
    display: none;
}

.nav{
    
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 1%;
    
}

.nav .nav_li_Especial {    

    font-size: 40px;
    float: left;
    box-sizing: border-box;
    margin-top: -1%;
    margin-left: -2%;  
}

.nav a:active{
    color: rgb(0, 0, 0);
}

.nav a:visited{
    color: rgb(0, 0, 0);
}

.nav li {

    display: inline-block;
    margin: 0 .2em;
    padding: 1%;
    font-size: 20px;
}

.nav a {

    text-decoration: none;
    
}

.nav_responsive_button{
    
    float: right;
    box-sizing: border-box;
    font-size: 45px;
}

@media only screen and (max-width: 1300px){
    
    .nav_ul {

        display: none;

    }
    .nav .P{
        
        display: inline;
        font-size: 60px;
        
        
    }

    







}

.Perfil img{
    
    display: flex;
    float: left;
    border-radius: 50px;
    margin-left: 2em ;
    margin-right: 3em;
    margin-top: 2em;
    
}

.Perfil p{

    width: fit-content;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 30px;
    padding: 7.5% 4%;    
    margin-bottom: 4%;
    letter-spacing: 2px;

}

.Perfil p::first-letter{
    
    font-size: 50px;

}

h3 {

    font-size: 30px;
    text-decoration: underline;
    text-decoration-style: double;
}

.LG li{
    
    font-size: 20px;
    list-style-position: inside;
    margin: 2.5%;
}

.LG img {

    
    margin: 0 1%;
    padding-bottom: .5%;

}

.BD li {
    
    font-size: 20px;
    list-style-position: inside;
    margin: 2.5%;
}

.BD img {

    margin: 0 1%;
    padding-bottom: .5%;
}

.TN li{
    
    font-size: 20px;
    list-style-position: inside;
    margin: 2.5%;
}

.TN p {

    font-size: 18px;
    padding-bottom: 1%;

}

.ACADEMY-1 .ESPECIAL {

    list-style-position: inside;
    font-size: 18px;
    padding-bottom: 1%;

}

.ACADEMY-1 .ORIENTACION, .ACADEMY-2 .ORIENTACION {

    list-style-type: none;
    font-size: 18px;
    padding-bottom: 1%;

}

.ACADEMY-2 .ESPECIAL {

    list-style-position: inside;
    font-size: 18px;
    padding-bottom: 1%;
}

.FECHAS .FECHAS-1, .FECHAS .FECHAS-2{
    
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin: .4% 1%;
    
}

.TITULOS .TITULO-1, .TITULOS .TITULO-2{

    display: inline-block;
    margin: .5% 1.5%;
    font-size: 18px;

}

.EL .EL-1, .EL .EL-2 {

    list-style-type: none;
    font-size: 18px;
    margin-bottom: 2%;

}

.LENG {

    font-size: 18px;

}

.TIME {
    
    font-size: 18px;

}

.PROYECTOS li {
    
    display: inline-block;
    list-style-type: none;
    margin: .5% 1.5%;
    font-size: 18px;

}

.PROYECTOS .PROYECTO-1, .PROYECTOS .PROYECTO-2, .PROYECTOS .PROYECTO-3, .PROYECTOS .PROYECTO-4{

    text-decoration: none;

}

.PROYECTO-1:link,.PROYECTO-2:link,.PROYECTO-3:link,.PROYECTO-4:link{

    color: rgb(0, 0, 0);
}

.PROYECTO-1:visited,.PROYECTO-2:visited,.PROYECTO-3:visited,.PROYECTO-4:visited{

    color: rgb(0, 0, 0);
}

.REDES .RED-1,.REDES .RED-2,.REDES .RED-3 {

    display: inline-block;
    margin: .5% 1.5%;
}


.DW .DW-1,.DW .DW-2{

    display: inline-block;
    margin: .5% 4.5%;

}

footer{
    
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 1%;
    
}